Access-Control-Allow-Origin header isn't returned

According to [RFC 7480 section 5.6](https://tools.ietf.org/html/rfc7480#section-5.6):

> When responding to queries, it is RECOMMENDED that servers use the Access-Control-Allow-Origin header field, as specified by [W3C.REC-cors-20140116].  A value of "*" is suitable when RDAP is used for public resources.

Just as stated, is **RECOMMENDED**, I consider that the server could implement the recommendation since currently doesn't have this.

The header was added in order to follow the recommendation made at the RFC.

![image](https://user-images.githubusercontent.com/22969079/31204930-dceb454a-a933-11e7-9e5e-7713b2ce8c93.png)

Verified. When an user perform a request to the rdap server, the server's response includes  the "Access-Control-Allow-Origin" header with an asterisk "*" as its value. 
