VCard object can't have more than one email

This case has arised in my implementation. When an entity has more than one email I can only set one email on the object VCard, so the other email is lost (at least in the response that the server will send). This is partially correct since it works, but what if I want to show both emails?

According to the [RFC 6350 section 6.42](https://tools.ietf.org/html/rfc6350#section-6.4.2) the VCard can have more than one email, so it shouldn't be a problem to place more than one email in the response. Also, if this is implemented, the emails should have the option to place the property "PREF" in case the user wants to specify the order of preference. 

Out of scope for milestone 1.2.0, the recommendation is to set VCard objects using [ez-vcard](https://github.com/mangstadt/ez-vcard). 

Since v1.2.0 this issue is related to [NICMx/rdap-json-renderer](https://github.com/NICMx/rdap-json-renderer), so it will be migrated to that repository and closed here.