VCard 4.0 TEL is always set as text

This issue is merely an observation based on the [RFC 6350 section 6.4.1](https://tools.ietf.org/html/rfc6350#section-6.4.1). It's stated that for the TEL property _"Value type:  By default, it is a single free-form text value (for backward compatibility with vCard 3), but it SHOULD be reset to a URI value. It is expected that the URI scheme will be "tel", as specified in [RFC3966], but other schemes MAY be used"_. The server uses this property for the distinct phones that a VCard could have (cellphone, voice, fax) as seen at `mx.nic.rdap.server.renderer.json.VCardJsonWriter` functions _getVoice(String), getCellphone(String), getFax(String)_.

The functions use "text" as value type, this isn't incorrect just as is mentioned in the RFC to allow backward compatibility, but the same text states that version 4.0 SHOULD use a URI value not a TEXT value. So, taking this to an example (based from [RFC 7095 appendix B.1](https://tools.ietf.org/html/rfc7095#appendix-B.1), if I have this number:
_+1.1234567x890_

I SHOULD expect that VCard v4.0 will display it as:
_tel:+1-1234567;ext=890_

Out of scope for milestone 1.2.0, the recommendation is to set VCard objects using [ez-vcard](https://github.com/mangstadt/ez-vcard). 

Since v1.2.0 this issue is related to [NICMx/rdap-json-renderer](https://github.com/NICMx/rdap-json-renderer), so it will be migrated to that repository and closed here.