Configured language isn't validated

According to [RFC 7483 section 4.4](https://tools.ietf.org/html/rfc7483#section-4.4) the language identifier at a response:

> This data structure consists solely of a name/value pair, where the
   name is "lang" and the value is a string containing a language
   identifier as described in [RFC5646].
>
>   "lang" : "mn-Cyrl-MN"

So, the server isn't validating the language identifier loaded from `configuration.properties` (property **"language"**) just as indicated in the RFC cited.

This issue is out of scope of milestone 1.2.0, labeled as enhancement.