Attribute "href" of links is incorrectly validated

According to [RFC 7483 section 4.2](https://tools.ietf.org/html/rfc7483#section-4.2):
> The "href" JSON value MUST be specified.  All other JSON values are OPTIONAL.

Currently the file `WEB-INF/notices/help.xml` can have a link like this:
```xml
<link href="">foo.bar</link>
```
This link is correct when validated against `META-INF/xsd/help.xsd`: this is the issue. The schema should validate that the attribute must also have a value.

The issue isn't only at the "help" validation, it's in these schemas:
- `help.xsd`
- `notices.xsd`
- `tos.xsd`

The schemas were updated to validate that "href" value must have at least 1 character.

The issue was:
```xml
<xs:attribute type="xs:string" name="href" use="required" />
```
The fix is:
```xml
<xs:attribute name="href" use="required">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:whiteSpace value="collapse" />
		</xs:restriction>
	</xs:simpleType>
</xs:attribute>
```

Verified. If a href in help.xml is defined with a empty value (""), the validation from help.xsd doesn't allow to start rdap server.

All the validations listed above (help.xsd, tos.xsd, notices.xsd) were modified in order to validate that href is not empty.  